.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-red {
  background-color: crimson;
  opacity: 0.3;
}

.circle-red--active {
  opacity: 1;
}

.circle-green {
  background-color: chartreuse;
  opacity: 0.3;
}

.circle-green--active {
  opacity: 1;
}

.circle-orange {
  background-color: coral;
  opacity: 0.3;
}

.circle-orange--active {
  opacity: 1;
}
